.btn-default {
  display: block;
  box-sizing: border-box;
  width: $width;
  height: 55px;
  margin: 0 auto;
  padding: 15px 0;
  border-radius: 30px;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
}
