.contacts {
  text-align: center;
}

.contacts__text {
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: $dark-blue;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  @include container;
}

.contacts__item-header {
  display: block;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: $dark-blue;
}

.contacts__item-content {
  display: block;
  margin-bottom: 25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: $pink;
}

@media (min-width: 700px) {
  .contacts__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .contacts__text {
    margin-bottom: 55px;
  }

  .contacts__item {
    width: 250px;
    flex-grow: 1;
  }
}

@media (min-width: 1200px) {
  .contacts__text {
    margin-bottom: 65px;
  }

  .contacts__item:first-child {
    order: 1;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__item:last-child {
    order: 2;
  }

}
