.contacts {
  text-align: center;
}

.contacts__text {
  margin-bottom: 33px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: $dark-blue;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  @include container;
}

.contacts__item-header {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: $dark-blue;
}

.contacts__item-content {
  display: block;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 30px;
  font-weight: lighter;
  color: $pink;
}

.contact__item-email {
  text-decoration: none;

  &:hover {
    color: $dark-blue;
    text-decoration: underline;
  }

  &:active {
    color: rgba(40, 54, 69, 0.3);
  }
}

.contacts__map {
  width: 100%;
  height: 200px;
  margin: 0 auto;
  background:
    url("../img/bg-triangle-white-footer.svg") no-repeat top center,
    url("../img/bg-map-mobile@1x.png") no-repeat center;
  background-size: 340px, auto;
}


.contacts__map-triangle {
  position: absolute;
  width: 100%;
  height: 45px;
  background: url("../img/bg-triangle-white-footer.svg") no-repeat top center;
  background-size: 100% 45px;
}

@media (min-width: 700px) {
  .contacts__wrapper {
    width: 575px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__text {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 40px;
  }

  .contacts__item {
    width: 250px;

  }

  .contacts__item:last-child {
    margin-top: 22px;
    flex-grow: 1;
  }

  .contacts__item-content {
    margin-top: 4px;
  }

  .contacts__map {
    height: 378px;
    margin-bottom: 35px;
    background:
      url("../img/bg-triangle-white-footer.svg") no-repeat top center,
      url("../img/bg-map-tablet@1x.jpg") no-repeat center;
    background-size: 720px, auto;
  }

  .contacts__map-triangle {
    height: 72px;
    background-size: 100% 72px;
  }
}

@media (min-width: 1200px) {
  .contacts__text {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 55px;

  }

  .contacts__item:first-child {
    order: 1;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__item:last-child {
    order: 2;
    margin-top: 0;
  }

  .contacts__item-content {
    margin-top: 22px;
    margin-bottom: 20px;
  }

  .contacts__item {
    width: 300px;

  }



  .contacts__map {
    height: 500px;
    margin-bottom: 75px;
    background:
      url("../img/bg-triangle-white-footer.svg") no-repeat top center,
      url("../img/bg-map-desktop@1x.jpg") no-repeat center;
    background-size: 1200px, auto;

  }

  .contacts__map-triangle {
    height: 105px;
    background-size: 100% 105px;
  }

}
