.hero-area {
  background-color: $dark-blue;
}

.hero-area__wrapper {
  @include container;
}

.hero-area__message {
  display: none;
  margin: 0;
  font-size: 24px;
  font-weight: lighter;
  line-height: 30px;
  color: #fff;
  text-align: center;
}

@media (min-width: 700px) {
  .hero-area {
    min-height: 619px;
    margin-top: -66px;
    background: $dark-blue url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-area__wrapper {
    position: relative;
    padding-top: 100px;
  }

  .hero-area__message {
    display: block;
    width: 300px;
    font-size: 40px;
    line-height: 50px;
  }
}
