.image-logo {
  width: 150px;
  height: 41px;
  align-self: center;
  margin-top: 40px;
  margin-bottom: 40px;
}



.image-logo__svg:active path.image-logo__letter {
  fill: #283645;
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__glasses-mobile {
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__glasses {
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__stars {
  fill: #283645;
  opacity: 0.3;
}

.image-logo__svg:active path.image-logo__i-star {
  opacity: 0.3;
}

.image-logo__svg:hover path {
  fill: #d22856;
}

@media (min-width: 700px) {
  .image-logo {
    align-self: flex-start;
    margin: 0;
  }
}
