.intro {
  height: 396px;
  margin-top: -66px;
  padding-top: 30px;
  background-color: $dark-blue;
  background:
    url("../img/iphone-hand-mobile@1x.png"),
    url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
}



@media (min-width: 700px) {
  .intro {
    display: none;
  }

}
