.page-footer__copyright {
  text-align: center;
}

.page-footer__developed {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 14px;
  line-height: 18px;
  color: $dark-blue;
}
