.page-footer {
  display: flex;
  flex-direction: column;
  @include container;
  margin-bottom: 30px;
}

.page-footer--no-display {
  display: none;
}

.page-footer__copyright {
  width: 150px;
  align-self: center;
  min-height: 36px;
  padding-top: 5px;
  text-align: center;
}

.page-footer__developed {
  display: inline-block;
  vertical-align: middle;
  margin-right: 11px;
  font-size: 14px;
  line-height: 18px;
  color: $dark-blue;
}


@media (min-width: 700px) {

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }

  .page-footer--no-display {
    display: flex;
  }

  .page-footer__copyright {
    text-align: right;
  }
}


@media (min-width: 1200px) {

  .page-footer {
    margin-top: 30px;
  }

  .page-footer__copyright {
    width: 152px;
  }

  .page-footer__developed {
    margin-right: 7px;
    font-size: 18px;
  }
}


