.photo-edit {
  padding-top: 20px;
  background-color: $grey-bg;
}

.photo-edit__wrapper {
  display: flex;
  flex-direction: column;
  @include container;
}

.photo-edit__controls-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-edit__img {
  width: 280px;
  height: 374px;
  align-self: center;
}

@media (min-width: 700px) {
  .photo-edit__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .photo-edit__img {
    width: 300px;
    height: 400px;

  }

  .photo-edit__controls-wrapper {
    width: 300px;
  }

  .photo-edit__tools {
    width: 300px;
  }
}

@media (min-width: 1200px) {
  .photo-edit {
    @include container;
  }

  .photo-edit__wrapper {
    width: 800px;
  }

  .photo-edit__controls-wrapper {
    width: 410px;
  }

  .btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 410px;
  }
}
