.photos {
  @include container;
  display: flex;
  flex-direction: column;
}

@media (min-width: 700px) {

  .photos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
