.review-block {
  padding-bottom: 90px;
  background-color: #fff;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: bottom;

  color: $dark-blue;
}

.review-block__item {
  @include container;
  text-align: center;
}

.review-block__item-name {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.review-block__item-content {
  font-size: 14px;
  line-height: 30px;
  font-weight: lighter;
}

.review-block__item-name-descr {
  display: none;
  margin: 0;
  font-size: 14px;
  line-height: 30px;
}

.review-block__radiobuttons {
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 700px) {
  .review-block__item-name-descr {
    display: block;
    transform: translateY(120px);
  }

  .review-block__item-content {
    font-size: 18px;
    transform: translateY(-80px);
  }

  .review-block__item-name {
    font-size: 20px;
    transform: translateY(120px);
  }

}

@media (min-width: 1200px) {
  .review-block {
    padding-top: 140px;
    background-image: url("../img/icon-quotes.svg"),
      url("../img/bg-triangle-white.svg");
    background-repeat: no-repeat;
    background-position: center 30px, bottom;
    background-size: 77px 64px, 100%;
  }

  .review-block__wrapper {
    @include container;
    position: relative;
  }

  .review-block__wrapper::before {
    content: "";
    position: absolute;
    top: 50px;
    width: 24px;
    height: 41px;
    background: url("../img/icon-review-arrow-left.svg") no-repeat;
  }

  .review-block__wrapper::after {
    content: "";
    position: absolute;
    top: 50px;
    right: 0;
    width: 24px;
    height: 41px;
    background: url("../img/icon-review-arrow-right.svg") no-repeat;
  }

  .review-block__item-content {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .review-block__radiobuttons {
    display: none;
  }
}
