.social {
  min-height: 31px;
  padding-top: 10px;
  margin-bottom: 45px;
  text-align: center;
  font-size: 14px;
}

.social-item {
  display: inline-block;
  vertical-align: top;
}

@media (min-width: 700px) {
  .social {
    margin: 0;
  }
}

